.top{
    display: inline-block;
    list-style-type: none;
}
.button{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.get{
    width: 40px;
}